@tailwind base;
@tailwind components;
@tailwind utilities;


.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


.new-rocker-regular {
  font-family: "New Rocker", serif;
  font-weight: 400;
  font-style: normal;
}


.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.comfortaa-uniquifier {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.slick-slide {
  display: inline-block;
}

.bg-fixed {
  background-attachment: fixed;
}




